*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel{
    font-family: 'Monserrat',sans-serif;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    border: 1px solid #f0f0f0;
  }
.carousel{
    padding: 10px;
}
.carousel img{
    width: 100%;
    height: 100%;
    /* margin: 10px; */
    margin-bottom: 0px;
    object-fit: contain;
}
.carousel .container{
    background-color: aqua;
}
.carousel h1{
    font-size: 22px;
    font-family: 'Monserrat', sans-serif;
    margin-left: 64px;
   
}
.carousel img{
    display: block;
    margin: 7px;
}
.carousel img:hover{
   opacity: 0.6;
}