*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
}
.card{
   width: 100%;
   display: flex;
   position: relative;
   background-color:#eee;
   box-shadow: #eee;
   z-index: 10;
   margin-top: 0;
   padding: 20px;
}
.sub-card{
    width: 400px;
    background-color: #fff;
    margin: 7px;
    height: 500px;
    padding: 20px;
}
.sub-card .img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  margin: 7px;
}
.card .sub-card a{
    margin-bottom: 7px;
}
.card .sub-card .btn{
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 90%;
    background-color: #ffd814;
    text-align: center;
    justify-content: center;
    height: 29px;
    border-radius: 10px;
    border: none;
}
.middle-img{
    align-self: center;
    margin-left: 170px;
    height: 300px;
}
footer{
    position: relative;
    background: #232f3e;
    color: #fff;
    display: block;
    bottom: 0;
  }

/* 404 Error Page */
.error-container{
    position: relative;
    margin: 0 100px;
    text-align: center;
}
.error-container img{
    width: 150px;
    height: 150px; 
    margin-right: 50px;  
}
.error-container h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.9rem;
    color: #E47911;
}
.error-container p{
    font-size: 1.3rem;
}
.container1{
   display: table;
   grid-row: 20px;
}
.sub-card .img1 img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
