@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.grid{
   display: grid;
   grid-template-columns: repeat(1fr ,4);
   gap: 10px;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #131921;
    /* background-color: rgba(0, 0, 0, 0.904); */
    overflow: none;
    display: flex;
    align-items: center;
    z-index: 100;
}
.nav-logo{
   height: 55px;
   transition: .4s;
   cursor: pointer;
   margin-right: 100px;
   margin-left: 30px;
}
.nav-logo:hover{
    border: 1px solid #fff;
    transition: all .2s ease-in;
}

.navmenu .address{
    position: absolute;
    color: #fff;
    margin-top: 0;
    padding-top: 0;
    padding-left: 50px;
    text-decoration: none;
    float: left;

}
.navmenu .address p{
    color: grey;
}
.navmenu .address:hover{
    border: 1px solid #fff;
}
.below-nav{
    position:fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.534);
}
.navbar .search {
    display: flex;
    width: 700px;
    height: 40px;
    border: none;
    border-radius: 3px;
}
.navbar .search:focus{
    border: 5px solid #cd9042;
}
.search .fas{
    background-color: #cd9042;
    width: 50px;
    height: 40px;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.navbar .location{
    display: flex;
    color: #fff;
    margin: 18px;
}
.location .fas{
    margin: 3px;
    padding-top: 10px;
    color: grey;
}
.location h4{
    font-size: 0.9rem;
}
.location .subtext{
    color: rgb(172, 163, 163);
}
.navbar .location:hover{
    display: fixed;
    transition: none;
    border: 1px solid #fff;

}
.navbar .location .india-img{
    margin-top: 2px;
    height: 30px;

}
.navbar .location .cart-img{
    height: 50px;
    padding-right: 3px;
}

.header{
    display: flex;
    position: relative;
    width: 100%;
    min-width: 100%;
    top: 60px;
    height: 40px;
    background-color: #232F3E;

}
.header .subtext .fas{
    margin: 4px;
    margin-top: 2px;
}
.header .subtext{

    margin: 6px;
    margin-top: 12px;
    padding: 3px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    overflow: hidden;

}
.header .subtext:hover{
    border: 1px solid #fff;
}
.header .header-img img{
    justify-self: flex-end;
    margin-left: 40px;
    width: 92%;
    height: 36px;
}
.header .header-img img:hover{
    border: 1px solid #fff;
}

/* Dropdown */
.location button{
    background-color: #131921;
    border:none;

}
.location .link{
    text-decoration: none;
    color: #fff;
}
.header{
     box-shadow : 0px 20px 30px 25px #232F3E;
}
